@media screen and (min-width: 913px) {
  .container {
    max-width: 100vw;
    display: grid;
    grid-template-areas:
      "header"
      "one"
      "two"
      "article"
      "four"
      "five"
      "six";
    grid-template-columns: 100%;
    grid-template-rows: 80px 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  /* Page One */
  .container section .box-one {
    position: relative;
    max-width: 100vw;
    width: calc(100vw - 15em);
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .container section .box-one .one-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 1;
  }

  .container section .box-one .one-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
  }

  .container section .box-one .one-right .box-long {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    box-sizing: border-box;
  }
  /* Page One */

  /* Page Two */
  .container section.two {
    grid-area: two;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container section.two .parallax-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .container section.two .image-box img {
    width: calc(20vw + 2.5em);
    border-radius: 50%;
    position: relative;
    color: #3c4048;
  }
  /* Page Two */

  /* Page Three */
  .container article .box-three {
    position: relative;
    max-width: 100vw;
    width: calc(100vw - 15em);
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .container article .box-three .row .box-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .container article .box-three .row .box-bottom .box-left {
    padding: 1em;
    padding-left: 0;
    box-sizing: border-box;
  }

  .container article .box-three .row .box-bottom .box-right {
    padding: 1em;
    padding-right: 0;
    box-sizing: border-box;
    display: block;
  }
  /* Page Three */

  /* Page Four */
  .container section .box-four {
    position: relative;
    max-width: 100vw;
    width: calc(100vw - 15em);
    height: 100%;
  }
  /* Page Four */

  /* Page Five */
  .container section .box-five {
    position: relative;
    max-width: 100vw;
    width: calc(100vw - 15em);
    height: 100%;
  }

  .container section .box-five .row .box-bottom .box-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5em;
    box-sizing: border-box;
  }

  .container section .box-five .row .box-bottom .box-center .box-right p {
    font-size: 0.9rem;
    font-family: "Poppins-Light";
    color: #fff;
    line-height: 1.3em;
    margin-bottom: 0;
  }

  .container
    section
    .box-five
    .row
    .box-bottom
    .box-center
    .box-left
    .image
    img {
    width: calc(25vw + 1em);
    border-radius: 10px;
  }
  /* Page Five */

  /* Page Six */
  .container section .box-six {
    position: relative;
    max-width: 100vw;
    width: calc(100vw - 15em);
    height: 100%;
  }

  .container section .box-six .row .box-bottom .box-center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .container section .box-six .row .box-bottom .box-center .box-left img,
  .container section .box-six .row .box-bottom .box-center .box-right img {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 20px;
  }

  .container section .box-six .row .box-bottom .box-center .box-middle img {
    width: 100%;
    border-radius: 10px;
  }

  .container section .box-six .row .box-bottom .box-center .box-left {
    width: 25%;
    display: flex;
    flex-direction: column;
    order: 1;
  }

  .container section .box-six .row .box-bottom .box-center .box-middle {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
  }

  .container section .box-six .row .box-bottom .box-center .box-right {
    width: 25%;
    display: flex;
    flex-direction: column;
    order: 3;
  }
  /* Page Six */
}
