/* font google */
@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../fonts/poppins/Poppins-Light.ttf") format("truetype");
}
/* font google */

.container {
  max-width: 100vw;
  display: grid;
  grid-template-areas:
    "header"
    "one"
    "two"
    "article"
    "four"
    "five"
    "six";
  grid-template-columns: 100%;
  grid-template-rows: 80px 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr 1fr;
}

/* navbar */
.container header {
  position: fixed;
  left: 0;
  right: 0;
  grid-area: header;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 110px;
  z-index: 9999;
  background-color: white;
}

.container header .logo {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.container header .humbuger {
  display: none;
}

.container header .nav-bar ul {
  display: flex;
}

.container header .nav-bar ul li a {
  display: block;
  color: #333;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Poppins-Medium";
  margin: 0 5px;
  padding: 10px 25px;
  box-sizing: border-box;
  transition: 0.6s;
}

.container header .nav-bar ul li a:hover {
  color: #9772fb;
}

@media screen and (max-width: 1320px) {
  .container header {
    padding: 0 50px;
  }
}

@media screen and (max-width: 1100px) {
  .container header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 900px) {
  .container header .humbuger {
    display: block;
    cursor: pointer;
  }

  .container header .nav-bar {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: white;
    transition: 0.3s;
    overflow: hidden;
  }

  .container header .nav-bar.active {
    height: 45%;
  }

  .container header .nav-bar ul {
    display: block;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: auto;
  }

  .container header .nav-bar.active ul {
    opacity: 1;
  }
}
/* navbar */

/* page one */
.container section.one {
  grid-area: one;
  display: flex;
  justify-content: center;
  background-color: #252523;
}

.container section .box-one {
  position: relative;
  max-width: 100vw;
  width: calc(100vw - 5em);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container section .box-one .box {
  padding: 2em 0;
  box-sizing: border-box;
}

.container section .box-one .one-left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  order: 2;
}

.container section .box-one .one-left h1 {
  font-family: "Poppins-Medium";
  font-size: calc(1.5vw + 1rem);
  padding: 10px 0;
  box-sizing: border-box;
  color: #fff;
}

.container section .box-one .one-left h1 span {
  color: #fff;
}

.container section .box-one .one-left h4 {
  font-family: "Poppins-Medium";
  font-size: 1.2rem;
  color: #fff;
  padding: 10px 0;
  box-sizing: border-box;
}

.container section .box-one .one-left p {
  font-family: "Poppins-Light";
  color: #fff;
  line-height: 1.3em;
  padding: 10px 0;
  box-sizing: border-box;
}

.container section .box-one .one-right {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  order: 1;
}

.container section .box-one .one-right .box-long {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  box-sizing: border-box;
}

.container section .box-one .one-right .box-long .row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.container section .box-one .one-right .box-long .row .child-box {
  width: 100%;
  height: 100%;
  border-radius: 7.5px;
}

/* row one */
.container
  section
  .box-one
  .one-right
  .box-long
  .row-one
  .child-box:nth-child(3) {
  position: relative;
  left: 5em;
  border: 1px solid #fff;
  box-sizing: border-box;
}

.container
  section
  .box-one
  .one-right
  .box-long
  .row-one
  .child-box:nth-child(3)
  .child {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 2em;
  background-color: #b9f3fc;
  border-radius: 7.5px;
  transition: all 1s cubic-bezier(0.78, -0.79, 0, -0.01);
}

.container
  section
  .box-one
  .one-right
  .box-long
  .row-one
  .child-box:nth-child(3):hover
  .child {
  margin-top: 9.9em;
}
/* row one */

/* row two */
.container
  section
  .box-one
  .one-right
  .box-long
  .row-two
  .child-box:nth-child(4) {
  position: relative;
  border: 1px solid #fff;
  box-sizing: border-box;
}

.container
  section
  .box-one
  .one-right
  .box-long
  .row-two
  .child-box:nth-child(3) {
  position: relative;
}

.container
  section
  .box-one
  .one-right
  .box-long
  .row-two
  .child-box:nth-child(3)
  .child {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #f55050;
  border-radius: 7.5px;
  transition: all 1s cubic-bezier(0.78, -0.79, 0, -0.01);
}

section
  .box-one
  .one-right
  .box-long
  .row-two
  .child-box:nth-child(3):hover
  .child {
  margin-top: 9em;
}
/* row two */

/* row three */
.container
  section
  .box-one
  .one-right
  .box-long
  .row-three
  .child-box:nth-child(1),
.container
  section
  .box-one
  .one-right
  .box-long
  .row-three
  .child-box:nth-child(2),
.container
  section
  .box-one
  .one-right
  .box-long
  .row-three
  .child-box:nth-child(3) {
  position: relative;
  left: 5em;
}

.container
  section
  .box-one
  .one-right
  .box-long
  .row-three
  .child-box:nth-child(1),
.container
  section
  .box-one
  .one-right
  .box-long
  .row-three
  .child-box:nth-child(2) {
  border: 1px solid #fff;
  box-sizing: border-box;
}

.container
  section
  .box-one
  .one-right
  .box-long
  .row-three
  .child-box:nth-child(3)
  .child {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #cde990;
  border-radius: 7.5px;
  transition: all 1s cubic-bezier(0.78, -0.79, 0, -0.01);
}

.container
  section
  .box-one
  .one-right
  .box-long
  .row-three
  .child-box:nth-child(3):hover
  .child {
  margin-top: 5em;
}
/* row three */

/* row four */
.container
  section
  .box-one
  .one-right
  .box-long
  .row-four
  .child-box:nth-child(1),
.container
  section
  .box-one
  .one-right
  .box-long
  .row-four
  .child-box:nth-child(4) {
  border: 1px solid #fff;
  box-sizing: border-box;
}

.container
  section
  .box-one
  .one-right
  .box-long
  .row-four
  .child-box:nth-child(2) {
  position: relative;
}

.container
  section
  .box-one
  .one-right
  .box-long
  .row-four
  .child-box:nth-child(2)
  .child {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fed049;
  border-radius: 7.5px;
  transition: all 1s cubic-bezier(0.78, -0.79, 0, -0.01);
}

.container
  section
  .box-one
  .one-right
  .box-long
  .row-four
  .child-box:nth-child(2):hover
  .child {
  transform: translateY(-5em);
}

.container
  section
  .box-one
  .one-right
  .box-long
  .row-four
  .child-box:nth-child(3) {
  position: relative;
}

.container
  section
  .box-one
  .one-right
  .box-long
  .row-four
  .child-box:nth-child(3)
  .child {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #9772fb;
  border-radius: 7.5px;
  transition: all 1s cubic-bezier(0.78, -0.79, 0, -0.01);
}

.container
  section
  .box-one
  .one-right
  .box-long
  .row-four
  .child-box:nth-child(3):hover
  .child {
  transform: translateY(5em);
}
/* row four */
/* page one */

/* page two */
.container section.two {
  grid-area: two;
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #252523; */
  background-color: #fff;
}

.container section.two .parallax-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw + 5px);
  height: 100%;
  object-fit: cover;
}

.container section.two .image-box img {
  width: calc(60vw + 2.5em);
  border-radius: 50%;
  position: relative;
  color: #3c4048;
}
/* page two */

/* page three */
.container article.three {
  grid-area: article;
  display: flex;
  justify-content: center;
  background-color: #252523;
}

.container article .box-three {
  position: relative;
  max-width: 100vw;
  width: calc(100vw - 5em);
}

.container article .box-three .row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container article .box-three .row .box-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container article .box-three .row .title {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.container article .box-three .row .title h1 {
  font-size: calc(1.5vw + 1rem);
  font-family: "Poppins-Medium";
  color: #fff;
}

.container article .box-three .row .sub-title {
  width: 100%;
  padding: 2em;
  padding-top: 0;
  padding-bottom: 4em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.container article .box-three .row .sub-title p {
  font-size: calc(0.5vw + 0.5rem);
  font-family: "Poppins-Medium";
  color: #fff;
}

.container article .box-three .row .box-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container article .box-three .row .box-bottom .box-left {
  padding: 1em 0;
  box-sizing: border-box;
}

.container article .box-three .row .box-bottom .box-right {
  padding: 1em 0;
  box-sizing: border-box;
  display: none;
}

.container article .box-three .row .box-bottom p {
  font-family: "Poppins-Light";
  line-height: 1.4em;
  color: #fff;
}
/* page three */

/* page four */
.container section.four {
  grid-area: four;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.container section .box-four {
  position: relative;
  max-width: 100vw;
  width: calc(100vw - 5em);
  height: 100%;
}

.container section .box-four .row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container section .box-four .row .box-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container section .box-four .row .title {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.container section .box-four .row .title h1 {
  font-size: calc(1.5vw + 1rem);
  font-family: "Poppins-Medium";
  color: #333;
}

.container section .box-four .row .sub-title {
  width: 100%;
  padding: 2em;
  padding-top: 0;
  padding-bottom: 4em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.container section .box-four .row .sub-title p {
  font-size: calc(0.5vw + 0.5rem);
  font-family: "Poppins-Medium";
  color: #333;
}

.container section .box-four .row .box-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container section .box-four .row .box-bottom .box-center {
  width: 100%;
  padding: 5em;
  box-sizing: border-box;
}

.container section .box-four .row .box-bottom .box-center .progress {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  box-sizing: border-box;
}

.container section .box-four .row .box-bottom .box-center .progress .title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins-Medium";
  color: #333;
  padding: 0;
  margin-bottom: 0.5em;
}

.container section .box-four .row .box-bottom .box-center .progress .level {
  width: 100%;
}

.container
  section
  .box-four
  .row
  .box-bottom
  .box-center
  .progress
  .level
  .lvl {
  width: 100%;
  height: 10px;
  background-color: #333;
  border-radius: 5em;
}

.container
  section
  .box-four
  .row
  .box-bottom
  .box-center
  .progress
  .level
  .lvl
  .shadow-one {
  width: 0%;
  height: 10px;
  background-color: #9772fb;
  border-radius: 5em;
  animation: runone 1s linear forwards;
}

@keyframes runone {
  from {
    width: 0%;
  }

  to {
    width: 90%;
  }
}

.container
  section
  .box-four
  .row
  .box-bottom
  .box-center
  .progress
  .level
  .lvl
  .shadow-two {
  width: 80%;
  height: 10px;
  background-color: #9772fb;
  border-radius: 5em;
  animation: runtwo 1s linear forwards;
}

@keyframes runtwo {
  from {
    width: 0%;
  }

  to {
    width: 80%;
  }
}

.container
  section
  .box-four
  .row
  .box-bottom
  .box-center
  .progress
  .level
  .lvl
  .shadow-three {
  width: 70%;
  height: 10px;
  background-color: #9772fb;
  border-radius: 5em;
  animation: runthree 1s linear forwards;
}

@keyframes runthree {
  from {
    width: 0%;
  }

  to {
    width: 70%;
  }
}

.container
  section
  .box-four
  .row
  .box-bottom
  .box-center
  .progress
  .level
  .lvl
  .shadow-four {
  width: 60%;
  height: 10px;
  background-color: #9772fb;
  border-radius: 5em;
  animation: runfour 1s linear forwards;
}

@keyframes runfour {
  from {
    width: 0%;
  }

  to {
    width: 60%;
  }
}
/* page four */

/* page five */
.container section.five {
  grid-area: five;
  display: flex;
  justify-content: center;
  background-color: #252523;
}

.container section .box-five {
  position: relative;
  max-width: 100vw;
  width: calc(100vw - 5em);
  height: 100%;
}

.swiper {
  width: 100%;
}

.swiper-pagination-bullet {
  width: 1.2em;
  height: 7px;
  border-radius: 26px;
  background-color: #fff;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0.7;
  color: #fff;
  transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
  color: #fff;
}

.swiper-slide .box-right h1 a {
  color: #fff;
  text-decoration: none;
}

.container section .box-five .row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container section .box-five .row .box-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container section .box-five .row .title {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.container section .box-five .row .title h1 {
  font-size: calc(1.5vw + 1rem);
  font-family: "Poppins-Medium";
  color: #fff;
}

.container section .box-five .row .sub-title {
  width: 100%;
  padding: 2em;
  padding-top: 0;
  padding-bottom: 4em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.container section .box-five .row .sub-title p {
  font-size: calc(0.5vw + 0.5rem);
  font-family: "Poppins-Medium";
  color: #fff;
}

.container section .box-five .row .box-bottom {
  width: 100%;
}

.container section .box-five .row .box-bottom .box-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

.container section .box-five .row .box-bottom .box-center .box-left,
.container section .box-five .row .box-bottom .box-center .box-right {
  width: 50%;
  padding: 0.5em;
  box-sizing: border-box;
}

.container section .box-five .row .box-bottom .box-center .box-left .image img {
  width: calc(40vw + 1em);
  border-radius: 10px;
}

.container section .box-five .row .box-bottom .box-center .box-right h1 {
  font-size: 1.5rem;
  font-family: "Poppins-Medium";
  color: #fff;
  margin-bottom: 0.8em;
}

.container section .box-five .row .box-bottom .box-center .box-right p {
  font-size: 0.9rem;
  font-family: "Poppins-Light";
  color: #fff;
  line-height: 1.3em;
  margin-bottom: 2em;
}
/* page five */

/* page six */
.container section.six {
  grid-area: six;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.container section .box-six {
  position: relative;
  max-width: 100vw;
  width: calc(100vw - 5em);
  height: 100%;
}

.container section .box-six .row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container section .box-six .row .box-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container section .box-six .row .title {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.container section .box-six .row .title h1 {
  font-size: calc(1.5vw + 1rem);
  font-family: "Poppins-Medium";
  color: #333;
}

.container section .box-six .row .sub-title {
  width: 100%;
  padding: 2em;
  padding-top: 0;
  padding-bottom: 4em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.container section .box-six .row .sub-title p {
  font-size: calc(0.5vw + 0.5rem);
  font-family: "Poppins-Medium";
  color: #333;
}

.container section .box-six .row .box-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container section .box-six .row .box-bottom .box-center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container section .box-six .row .box-bottom .box-center .box-left img,
.container section .box-six .row .box-bottom .box-center .box-right img {
  width: 90%;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 20px;
  filter: drop-shadow(0 0 3px rgba(82, 86, 94, 0.3));
  cursor: pointer;
}

.container section .box-six .row .box-bottom .box-center .box-middle img {
  width: 100%;
  border-radius: 10px;
  filter: drop-shadow(0 0 3px rgba(82, 86, 94, 0.3));
  cursor: pointer;
}

.container section .box-six .row .box-bottom .box-center .box-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
}

.container section .box-six .row .box-bottom .box-center .box-middle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
}

.container section .box-six .row .box-bottom .box-center .box-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 3;
}
/* page six */
